table{
    color: wheat;
    border: solid wheat;
    display: flex;
    text-align: center;
    border-collapse: separate;
    border-width: 3px;
    font-size: x-large;
    

}
h2
{
    display: flex;
    justify-content: center;
}

td{
    padding: 1.1em;
    border: 1px solid wheat;
}
.forTab{
    display: flex;
    justify-content: center;
    align-items: center;
}
.designCar{
    margin-top: 1em;
    border: #444 solid 2px;
    border-radius:1em;
}
.designCar img {
    border-radius: 1em;
}